.Likes {
  position: absolute;
}

.Likes--bounce {
  color: #2196f3;
  animation: Likes-keyframes--bounce 150ms ease-out;
}
.Likes--bounce.down {
  color: #f50057;
  animation: Likes-keyframes--bounce--down 150ms ease-out;
}

@keyframes Likes-keyframes--bounce {
  0%,to { transform: rotate(0) }
  10% { transform: scale(1.2) }
  40% { transform: rotate(4deg) translateY(2) }
  50% { transform: rotate(0deg) translateY(-8px) }
  60% { transform: rotate(8deg) translateY(-4px) }
  80% { transform: rotate(0deg) translateY(0) }
}
@keyframes Likes-keyframes--bounce--down {
  0%,to { transform: rotate(0) }
  10% { transform: scale(1.2) }
  40% { transform: rotate(4deg) translateY(-2) }
  50% { transform: rotate(0deg) translateY(4px) }
  60% { transform: rotate(8deg) translateY(8px) }
  80% { transform: rotate(0deg) translateY(0) }
}
